@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&family=Public+Sans:wght@300;400;500&family=Source+Sans+Pro:wght@400;500&family=DM+Sans:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@600;700&family=Roboto+Mono:wght@500&display=swap');

body {
	background: linear-gradient(90deg, rgba(0, 151, 178, 1) 0%, rgba(88, 152, 61, 1) 100%);
}

.form-label {
	font-family: 'Inter', sans-serif;
	font-weight: 575;
}

h3 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	color: #1e3c3a;
	/* tom escuro e elegante */
}

.btn {
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-weight: 500;
}

small {
	font-family: 'Inter', sans-serif;
	font-weight: 575;
}